<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>resume</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>

    <div class="background">
        <canvas id="background_canvas" class="background__canvas js-background-canvas"></canvas>
        <div class="background__grid js-background-grid"></div>
        <audio id="audio" loop>
            <source src="/files/loop.mp3" type="audio/mp3">
        </audio>
    </div>

    <div id="wellcome_modal" v-if="!wellcome_complete">
        <wellcome-modal @submit_wellcome_modal="SubmitWellcomeModal" />
    </div>
    <div id="hello_world" v-if="wellcome_complete">
        <hello-world />
    </div>

    <script src="/assets/module/vue/vue.min.js"></script>
    <script src="/assets/module/jquery/jquery.min.js"></script>
    <script src="/assets/components/components.min.js"></script>
    <script src="/assets/js/bundle.min.js"></script>
</body>

</html>